* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  width: 100%;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  background-color: #ff9a4b;
}

.main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.text1 {
  position: absolute;
  top: 0;
  color: white;
  background-color: #ff9a4b;
}

.text2 {
  position: absolute;
  top: 0;
  color: white;
  background-color: #ff9a4b;
}

.text3 {
  position: absolute;
  top: 0;
  color: white;
  background-color: #ff9a4b;
}

.main-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.main-contents > div:nth-child(1) {
  width: 300px;
  margin: 0 15px 0px 15px;
  position: relative;
  background-color: #eeeeee;
}

.main-step1-image {
  height: 150px;
  width: 280px;
  margin: 10px 10px 15px 10px;
  background-image: url(chapter9_exercise/img/flow01.png);
  background-size: 100% 100%;
}

.htext1 {
  padding: 0 10px 5px 10px;
}

.htext2 {
  padding: 0 10px 5px 10px;
}

.htext3 {
  padding: 0 10px 5px 10px;
}

.p1 {
  margin: 0 10px 0 10px;
}

.p2 {
  margin: 0 10px 0 10px;
}

.p3 {
  margin: 0 10px 0 10px;
}

.main-contents > div:nth-child(2) {
  width: 300px;
  margin: 0 15px 0px 15px;
  position: relative;
  background-color: #eeeeee;
}

.main-step2-image {
  height: 150px;
  width: 280px;
  margin: 10px 10px 15px 10px;
  background-image: url(chapter9_exercise/img/flow02.png);
  background-size: 100% 100%;
}

.main-contents > div:nth-child(3) {
  width: 300px;
  margin: 0 15px 0px 15px;
  position: relative;
  background-color: #eeeeee;
}

.main-step3-image {
  height: 150px;
  width: 280px;
  margin: 10px 10px 15px 10px;
  background-image: url(chapter9_exercise/img/flow03.png);
  background-size: 100% 100%;
}

.footer-text {
  height: 50px;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .main {
    width: 100%;
  }

  .main-contents {
    display: block;
    width: 100% !important;
  }

  .main-step1 {
    width: 90% !important;
    margin: 0 5% 10px 5% !important;
    padding-top: 10px;
  }

  .main-step1-image {
    width: 90%;
    margin-top: 10px !important;
  }

  .main-step2 {
    width: 90% !important;
    margin: 10px 5% 10px 5% !important;
    padding-top: 10px;
  }

  .main-step2-image {
    width: 90%;
    margin-top: 10px !important;
  }

  .main-step3-image {
    width: 90%;
    margin-top: 10px !important;
  }

  .main-step3 {
    width: 90% !important;
    margin: 10px 5% 0 5% !important;
    padding-top: 10px;
  }
}
